$silver-chalice: #b5b1b2ff;
$silver-metallic: #ada9b7ff;
$wild-blue-yonder: #a9afd1ff;
$baby-blue-eyes: #a1cdf4ff;
$rhythm: #7c809bff;

$dark-blue-gray: #666a86ff;
$shadow-blue: #788aa3ff;
$opal: #92b6b1ff;
$laurel-green: #b2c9abff;
$dutch-white: #e8ddb5ff;